@model IEnumerable<Reservation_V4.Models.ReservationType>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

            <a asp-action="Delete" asp-route-id="@item.Id">delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>
